* {
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0;
  padding: 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  max-width: 1128px;
  padding: 0;
  margin: 24px auto;
  gap: 24px;
}

.gallery .gallery-item {
  width: 360px;
  height: 200px;
}

img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
